body {

}

.user-panel>.image>img {
    max-height: 45px;
}

.profile-user-img {
    height: 100px;
}

.page-title-header {
    position: relative;
}

.app-env-container {
    float: right;
}

.app-env-container > label,
.app-env-container > select {
    font-weight: lighter;
    font-size: 12px;
}

.venue-skills-main .upload-type {
	display: none;
}

.error-container {
	display: none;
	color: red;
}

.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.highlight-table-row {
    background: #36a65a !important;
    color: #fff;
}
s
.empty-highright-crew-request {
    text-align: center;
    background: #ec5555;
    color: #fff;
    text-transform: uppercase;
}

.cron-job-bg-check-container {
    text-align: center; 
    margin-top: 30px;
}

.background-check-form-container #info_modal,
.background-check-form-container #submit_jde_form {
    margin-bottom: 20px;
}

.loader-bg-container {
    text-align: center;
}

.skill-combo-details-table tr.is-required {
    background: #e9ea8e !important;
}

.no-content-tlc-jobs,
.no-content-tlc-skills {
    text-align: center;
}

.background-check-job-app-status:hover {
    cursor: pointer;
}

/** Start For Archive Documents Page */

.user-archive-name {
    font-weight: bold;
}

.no-archive-documents {
    text-align: center;
}

.document-details-file-container img {
    max-width: 100%;
}

.document-details-file-container iframe {
    width: 100%;
    height: 700px;
}

#view-document-modal .modal-dialog {
    width: 900px;
}

#document-details-table-container thead th {
    text-align: center;
}

#document-details-table-container tbody tr td:first-child {
    font-weight: bolder;
    width: 30%;
}

.archive-results-container {
    display: none;
}

/** End For Archive Documents Page */

.delete-user-name {
    font-weight: bold;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    padding: 1px 10px !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

.sub-menus-dashboard {
    display: none;
    padding: 0;
    width: 60%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sub-menus-dashboard > li {
    margin-bottom: 10px;
}

.sub-menus-dashboard > li .sub-icon {
    font-size: 45px !important;
}

.sub-menus-dashboard > li:hover .sub-icon {
    font-size: 50px !important;
}

.small-box:hover .sub-menus-dashboard {
    display: block;
}

.member-content-container {
    padding: 10px;
    margin-bottom: 20px;
    min-height: 290px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

blockquote {
    border-left: 5px solid #3c8dbc;
}

.delete-allotee-form-loader,
.allotee-form-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    z-index: 1;
}

.div-table {
    display: table;
    width: 100%; 
    height: 100%;
}

.div-table-row {
    display: table-row;
}

.div-table-cell {
    display: table-cell;
    vertical-align: middle;
}